@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


#mainTitle{ 
    text-align:center;
    font-size: 2.5vw; 
}

body{
    background-image: url("Images/Lion2.jpg");
    background-position: center;
    background-size: cover;
}

h1{
font-family: 'Babylonica', cursive;
font-size: 8vw;
}

h2{
font-family: 'Josefin Sans', sans-serif;
}

/* #text{
    display: flex; 
	gap: var(--base);
	overflow-y: auto;
    overflow-x: auto;
}

div:nth-child(1) * {
    flex-shrink: 0;
	width: 100%; 
} */

/* classes */

.container{ 
width: 80%; 
margin: 10%;
}

.column1{ 
    float: left; 
    width: 50%; 
}

.column2{
    float: left; 
    width: 40%;
    background-image: url("Images/Liontaming.jpeg"); 
    background-position: center;
    color: white;
    padding: 20px;
    /* -webkit-text-stroke: 1px rgb(36, 109, 226); */
}

.images{
    max-width: 90%;
}

.box {
    background-color:#dfd789;
    width: 500px;
    margin: 2em auto;
    padding: 1rem;
    transition: transform .2s; /* Animation */
  }
  
  .box:hover {
    transform: scale(1.5);
    opacity: 0.5;
  }

  .list {
    color: aliceblue;
    background-image: url("Images/lions.png");
    background-size: contain;
    background-position: center;
    padding: 1em;
  }