@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:wght@100&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

:root{
    --page-spacing:1.8rem; 
    --margin: 1em;
    --paragprah: 0.75rem; 
    --color: white
  }

.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 90vw;
    margin: auto;
  }
  
  .grid {
    width: calc(25% - 2px);
    height: calc(25% - 2px);
    flex-basis: 25%;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    line-height: 75px;
  }
  
  div{
    text-align: center;
  }
 

@media (max-width:767px) {

      div{
        font-family: 'Roboto', sans-serif;
        color: var(--color);
        font-size: calc(var(--paragprah)*3);
        padding: var(--margin);
      }

      .bkg1{
        background-color: black;
      }

      .grid {
        border: 1px solid rgb(255, 255, 255);
      }

      .grid.one { 
        background-color: rgb(116, 1, 113);
          }
        
          .grid.two{
            background-color: rgb(137, 41, 133)
          }
        
          .grid.three{
            background-color: rgb(148, 62, 143)
          }
        
          .grid.four{
            background-color: rgb(167, 88, 162)
          }
        
          .grid.five{
            background-color: rgb(178, 111, 174)
          }
        
          .grid.six{
            background-color: rgb(191, 136, 187)
          }
        
          .grid.seven{
            background-color: rgb(207, 165, 204)
          }
        
          .grid.eight{
            background-color: rgb(221, 191, 218)
          }
        
          .grid.nine{
            background-color: rgb(233, 219, 232)
          }
        
          .grid.ten{
            background-color: rgb(228, 210, 231)
          }
        
          .grid.eleven{
            background-color: rgb(215,181,216)
          }
        
          .grid.twelve{
            background-color: rgb(201,155,203);
          }
        
          .grid.thirteen{
            background-color: rgb(189,140,195);
          }
        
          .grid.fourteen{
            background-color: rgb(177,114,182);
          }
        
          .grid.fifteen{
            background-color: rgb(164,91,170);
          }
        
          .grid.sixteen {
            background-color: rgb(152,68,158);
          }

          .grid:hover {
            transform: scale(1.5);
          }
}

@media (min-width:768px){

      div{
        font-family: 'Reenie Beanie', cursive;
        font-size: calc(var(--paragprah)*20);
        padding: calc(var(--margin)/2);
      }

      .bkg1{
        background-color: rgb(51, 68, 182);
      }

      .grid.one { 
        background-color: rgb(255, 111, 0)
          }
        
          .grid.two{
            background-color: rgb(255, 0, 0)
          }
        
          .grid.three{
            background-color: rgb(255, 0, 242)
          }
        
          .grid.four{
            background-color: rgb(0, 136, 255)
          }
        
          .grid.five{
            background-color: rgb(0, 255, 64)
          }
        
          .grid.six{
            background-color: rgb(195, 255, 0)
          }
        
          .grid.seven{
            background-color: rgb(255, 221, 0)
          }
        
          .grid.eight{
            background-color: rgb(255, 0, 68)
          }
        
          .grid.nine{
            background-color: rgb(0, 255, 221)
          }
        
          .grid.ten{
            background-color: rgb(0, 255, 38)
          }
        
          .grid.eleven{
            background-color: rgb(255, 162, 0)
          }
        
          .grid.twelve{
            background-color: rgb(170, 0, 255);
          }
        
          .grid.thirteen{
            background-color: rgb(255, 51, 0);
          }
        
          .grid.fourteen{
            background-color: rgb(0, 255, 179);
          }
        
          .grid.fifteen{
            background-color: rgb(8, 0, 255);
          }
        
          .grid.sixteen {
            background-color: rgb(255, 0, 204);
          }

          .grid:hover{ transform: scale(1.2);
          opacity: 0; }


}

@media (min-width:1024px){

    div{
        font-family: 'Kalam', cursive;
        color: rgb(107, 182, 222);
        font-size: calc(var(--paragprah)*3);
        padding: var(--margin);
}

.grid{ 
    transition: transform 350ms linear;
}


.bkg1{
    background-color: rgb(107, 182, 222);
  }

  .grid.one { 
    background-color: rgb(255, 92, 92)
      }
    
      .grid.two{
        background-color: rgb(255, 130, 92)
      }
    
      .grid.three{
        background-color: rgb(255, 175, 117)
      }
      
    
      .grid.four{
        background-color: rgb(255, 222, 92)
      }
    
      .grid.five{
        background-color: rgb(241, 255, 92)
      }
    
      .grid.six{
        background-color: rgb(201, 255, 92)
      }
    
      .grid.seven{
        background-color: rgb(136, 255, 92) }
    
      .grid.eight{
        background-color:rgb(92, 255, 168)
      }
    
      .grid.nine{
        background-color: rgb(92, 255, 217)
      }
    
      .grid.ten{
        background-color:  rgb(92, 222, 255)
      }
    
      .grid.eleven{
        background-color: rgb(92, 130, 255)
      }
    
      .grid.twelve{
        background-color: rgb(155, 92, 255)
      }
    
      .grid.thirteen{
        background-color: rgb(231, 92, 255)
      }
    
      .grid.fourteen{
        background-color: rgb(255, 92, 214)
      }
    
      .grid.fifteen{
        background-color:rgb(255, 92, 201)
      }
    
      .grid.sixteen {
        background-color: rgb(255, 92, 92);
      }
}
